.card-div {
  cursor: pointer;
  letter-spacing: .03rem;
}
.card-div:hover {
  transition-duration: 1s;
  transform: scale(1.02);
}

.card-text {
  color: 	#353839;
}
.card-title {
  color: 	#353839;
}

.card-div:hover .card-text {
  color: black;
}
.card-div:hover .card-title {
  color: black;
}

.projects-card {
  background-color: #b5a58f;
  border-color: #b5a58f;
  margin: 1rem 1rem 1rem auto;
  box-shadow: 0 2px 20px gray;
}

.card-link {
  text-decoration: none;
}
