/* .contact-component-container {
  margin-top: 7rem;
  margin-bottom: 7rem;
} */

.form-control {
  margin: 1rem;
  border-radius: 1px;
}

.contact-us {
  margin: 7rem auto 10rem 4rem;
  box-sizing: border-box;
}

.spacer {
  margin-top: 8rem;
}
